.card {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 310px;
  cursor: pointer;
  &:hover .card__bottom{
    transform: translateY(-75px);
    transition: all 0.4s;
  }

  &__top {
    width: 100%;
    height: 80%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      transition: 0.2s;
      object-fit: fill;
      // transform: scale(1);
      &:hover {
        transition: 0.2s;
        // transform: scale(1.1);
      }
    }
  }

  &__bottom {
    text-align: center;
    height: 108px;
    width: 50%;
    margin: auto;
    padding: 10px;
    font-size: 14px;
    background-color: #F7F5F1;
    transition: all 0.4s;
    &__info{
      span{
        display: block;
      }
      &--material{
        color: #9D5248;
      }
    }
    &__details{
      span{
        display: block;
      }
      &--price{}
      &--color{
        height: 12px;
        width: 12px;
        border: 1px solid black;
        border-radius: 2px;
        margin: auto;
        margin-top: 5px;
      }
    }
  }
}