.menu_ribbon {
    width: 100%;
    height: 8px;
    background-color: var(--color-wool-clay);
    border-top: 2px solid var(--color-kumel);
    border-bottom: 2px solid var(--color-kumel);
    position: absolute;
    top: 0;
    left: 0;
}